In [1]:
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame({'A' : [1,2,np.nan,4,5]
                  ,'B' : [1,7,7,7,np.nan]})

In [9]:
df

     A    B
0  1.0  1.0
1  2.0  7.0
2  NaN  7.0
3  4.0  7.0
4  5.0  NaN

In [13]:
A_mean = np.nanmean(df.A)
B_median = np.nanmedian(df.B)
#A_mean = np.mean(df.A)

In [17]:
df.A.fillna(A_mean,inplace = True)
df.B.fillna(B_median, inplace = True)

In [18]:
df

     A    B
0  1.0  1.0
1  2.0  7.0
2  3.0  7.0
3  4.0  7.0
4  5.0  7.0